//! **************************************************************************
// Written by: Map P.20131013 on Mon Apr 16 10:34:42 2018
//! **************************************************************************

SCHEMATIC START;
COMP "Ai" LOCATE = SITE "V9" LEVEL 1;
COMP "Bi" LOCATE = SITE "T9" LEVEL 1;
COMP "Ci" LOCATE = SITE "T10" LEVEL 1;
COMP "C" LOCATE = SITE "V16" LEVEL 1;
COMP "F" LOCATE = SITE "U16" LEVEL 1;
SCHEMATIC END;

