NET"X[3]"  LOC="T5";
NET"X[2]"  LOC="V8";
NET"X[1]"  LOC="U8";
NET"X[0]"  LOC="N8";
NET"Y[3]"  LOC="M8";
NET"Y[2]"  LOC="V9";
NET"Y[1]"  LOC="T9";
NET"Y[0]"  LOC="T10";

NET"C0"  LOC="C4";

NET"F[3]"  LOC="V15";
NET"F[2]"  LOC="U15";
NET"F[1]"  LOC="V16";
NET"F[0]"  LOC="U16";

NET"C4"  LOC="M11";
